<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Novocinema</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>novocinema</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>


	<key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb490956337358492</string>
        </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>490956337358492</string>
    <key>FacebookClientToken</key>
    <string>CLIENT-TOKEN</string>
    <key>FacebookDisplayName</key>
    <string>novo cinemas</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>




	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location is essential for finding the nearest cinema theater from the user</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location is essential for finding the nearest cinema theater from the user</string>

    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>YourPurposeKey</key>
      <string>Location is essential for finding the nearest cinema theater from the user</string>
    </dict>

    <key>branch_universal_link_domains</key>
    <array>
    	<string>lec5l.app.link</string>
    	<string>lec5l-alternate.app.link</string>
    	<string>lec5l.test-app.link</string>
    	<string>lec5l-alternate.test-app.link</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    		<string>myappscheem</string>
    		</array>
    		<key>CFBundleURLName</key>
    		<string>io.Branch.Branchsters</string>
    	</dict>
    </array>
    <key>branch_key</key>
    <dict>
    	 <key>live</key>
    	 <string>key_live_gviU5Yhl4J2s6hErQoyhMdamBtdaGFGn</string>
    	 <key>test</key>
    	 <string>key_test_btgH0WjaXP6CYivETcziLbgjAtfkIvHu</string>
    </dict>



	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
